.App{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App .Strech{
    width: 100%;
    height: 50px;
    background-color: rgb(198, 156, 109);
}

.App .Content{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.App .Content >*{
    height: 600px;
    margin-bottom: 5px;
}

.App p{
    font-size: 20px;
}

.App h2{
    font-size: 30px;
}